node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

iOS/RedRiverColony.eth/RedRiverColony.eth.xcodeproj/project.xcworkspace/*
iOS/RedRiverColony.eth/RedRiverColony.eth.xcodeproj/xcuserdata/*
.DS_Store
